// about
.about {
  height: calc(100vh - var(--header-height));
  text-align: center;
  margin-top: var(--header-height);
  padding-top: 2rem;

  &__container {
    height: 60vh;
    display: grid;
    grid-template-areas:
      "data"
      "image";
    gap: 2rem;
    place-items: center;

    @media screen and (min-width: 768px) {
      grid-template-areas: "data image";
    }

    @media screen and (min-height: 1100px) {
      height: auto;
    }
  }
  @media screen and (min-height: 1100px) {
    height: auto;
  }

  &__details {
    grid-area: data;
  }

  &__subtitle {
    margin-bottom: var(--m-2);
    font-size: var(--h2-font-size);
  }

  &__details {
    align-self: center;
  }

  &__text {
    line-height: 2;

    @media screen and (min-width: 500px) and (max-width: 768px) {
      width: 60vw;
    }

    span {
      color: var(--first-color);
    }
  }

  &__img {
    grid-area: image;
    align-self: center;
  }
}

// skills
.skills {
  margin-top: var(--header-height);
  padding-top: 2rem;
  &__container {
    display: grid;
    grid-template-areas:
      "frontend"
      "backend"
      "lang"
      "others";

    gap: 2rem;

    @media screen and (min-width: 768px) {
      grid-template-areas:
        "frontend backend"
        "lang others";
    }
  }

  &__languages {
    grid-area: lang;
  }

  &__frontend {
    grid-area: frontend;
  }

  &__backend {
    grid-area: backend;
  }

  &__others {
    grid-area: others;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

// projects
.projects {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__btn {
    width: 12rem;
    margin: 0 auto;
    margin-top: 2rem;
    display: grid;
    place-items: center;
  }
}

// contacts
.contact {
  &__button {
    display: block;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi);
    cursor: pointer;
    margin: 1rem auto;
    padding: 01rem 2.5rem;
    border-radius: 0.5rem;
    background-color: var(--first-color);
    color: #fff;
  }
}
