.about {
  height: calc(100vh - var(--header-height));
  text-align: center;

  &__container {
    display: grid;
    grid-template-rows: repeat(2, minmax(auto-fit, 24rem));
    grid-template-columns: 1fr;
    row-gap: 2rem;
    place-items: center;

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, minmax(18rem, 50vw));
      grid-template-rows: 1fr;
      column-gap: 2rem;
    }
  }

  &__subtitle {
    margin-bottom: var(--m-2);
    font-size: var(--h2-font-size);
  }

  &__details {
    align-self: center;
  }

  &__text {
    line-height: 2;

    span {
      color: var(--first-color);
    }
  }

  &__img {
    align-self: center;
  }
}

// skills
.skills {
  &__container {
    display: grid;
    grid-template-areas:
      "frontend"
      "backend"
      "lang"
      "others";

    gap: 2rem;

    @media screen and (min-width: 768px) {
      grid-template-areas:
        "frontend backend"
        "lang others";
    }
  }

  &__languages {
    grid-area: lang;
  }

  &__frontend {
    grid-area: frontend;
  }

  &__backend {
    grid-area: backend;
  }

  &__others {
    grid-area: others;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
