.hero {
  height: calc(100vh - var(--header-height));
  display: grid;
  grid-template-areas:
    "image"
    "data";
  margin-top: var(--header-height);
  padding-top: 2rem;
  gap: 2rem;
  text-align: center;

  @media screen and (min-width: 768px) {
    grid-template-areas: "image data";
    text-align: start;
  }

  @media screen and (min-height: 1100px) {
    height: auto;
    padding-top: 5rem;
  }

  &__img {
    grid-area: image;
    align-self: center;
  }

  &__data {
    grid-area: data;
    align-self: center;

    @media screen and (min-width: 768px) {
      min-width: 26rem;
    }
    @media screen and (min-width: 1024px) {
      min-width: 32rem;
    }
  }

  &__title {
    font-size: var(--big-font-size);
    margin-bottom: 2rem;

    &Wave {
      animation: wave 0.3s infinite;
    }

    &Color {
      color: var(--first-color);
    }
  }

  &__social {
    margin: 2rem 0;

    &Icon {
      font-size: var(--h2-font-size);
      color: var(--second-color);
      margin-right: 1rem;

      &:nth-last-child(1) {
        margin-right: 0;
      }
    }
  }
}

@keyframes wave {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}
