.inputField {
  &__label {
    display: inline-block;
    margin: 0.5rem 0;
    font-weight: var(--font-semi);
  }

  &__input {
    width: 100%;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi);
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1.5px solid var(--second-color);
    outline: none;
    margin-bottom: var(--mb-4);
  }
}
